body {
    background-color: beige;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 30px;
}

h1 {
    color: rgb(194, 64, 245);
}

p {
    color: #d62fe6;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    background-color: rgb(255, 2, 171);
    color: rgb(248, 198, 198);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: rgb(253, 103, 216);
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
